html,
body {
  height: 100%;
  touch-action: none;
  font-size: 1.3em;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Courier, monospace;
}

#mainCanvas {
  position: absolute;
  z-index: 0;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  cursor: crosshair;
}

#p5_loading {
  display: none;
}

#tools {
  /* width: 800px; */
  max-width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 40px;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: center;
}

#tools > span {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 24px;
}

select {
  font-size: 0.8em;
}

#bleed,
#brush-size {
  transform: scale(1.5);
  transform-origin: left;
}

#tools select,
#tools input {
  cursor: pointer;
  margin: 20px 0px;
}

#tools #bleed {
  margin: 20px 50px 20px 0px;
}
